@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Black&family=Bebas+Neue&family=Bitcount:wght@100..900&family=Bungee&family=Caprasimo&family=Concert+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Gloria+Hallelujah&family=Lobster&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+AU+SA&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sacramento&family=Satisfy&family=Story+Script&display=swap');
/* 'Playwrite Australia SA', 'Playwrite Italia Moderna', 'Dancing Script', 'Sacramento', 'Story Script', 'Rubik', 'DM Sans', 'Bebas Neue', 'Archivo Black', 'Bungee', 'Pacifico', 'Lobster', 'Caprasimo', 'Satisfy', 'Gloria Hallelujah', 'Concert One', 'Bitcount', 'Monoton' */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.45);

}

/* Section 1 */

.S1 {
    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/S1-banner2.jpeg);
}

.header {
    width: 100%;

    padding: 6px 36px;

    background-color: #011C40;

    opacity: 0.87;

    position: fixed;
    z-index: 100;
}

/* 'DM Sans', 'Bungee', 'Pacifico'<< , 'Gloria Hallelujah'*/

.website-title {
    font-family: 'Gloria Hallelujah';
    font-size: 26px;
    
    color: #ececf3;

    display: inline-block;

    margin-right: 18px;

    cursor: pointer;
}

.website-title i {
    color: rgb(245, 164, 13);

    font-size: 28px;
}

.search-bar {
    position: absolute;

    width: 226px;
    height: 28px;

    background-color: rgba(250, 250, 252, 0.85);
    
    border-radius: 26px;
    border: 0;

    margin-top: 14px;

    padding-left: 12px;

    font-size: 16px;
}

.search-bar:hover {
    border: 1.0px solid lightgray;
}

.search-icon {
    position: absolute;

    font-size: 16px;
    
    color: #011C40;
    opacity: 0.85;

    margin-top: 19px;
    margin-left: 201px;

    cursor: pointer;

    transition: color 0.15s;
}

.search-icon:hover {
    color: rgb(245, 164, 13);
}

.header-links {
    list-style: none;
    float: right;

    margin-top: 16px;
}

.header-links>li {
    display: inline;

    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: bold;

    color: #ececf3;
}

.header-links>li>a {
    color: #ececf3;

    position: relative;
    
    padding-bottom: 6px;
}

.header-links>li>a:after {
    position: absolute;
    
    content: "";
    
    width: 0%;
    height: 4px;
    
    bottom: 0;
    left: 0;
    
    background-color: orange;
    
    opacity: 0;
}

.header-links>li>a:hover:after {
    width: 100%;
    
    opacity: 0.8;
    
    transition: 0.4s;
}

.dropdown-list {
    position: relative;

    display: inline-block;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 2;
    
    width: 176px;
    
    padding: 8px 18px;
    
    background-color: rgba(240, 233, 233, 0.95);
        
    visibility: hidden;
    
    border-radius: 8px;
    
    opacity: 0;
    transition: opacity 0.4s;
}

.dropdown li a {
    color: #011C40;
    
    display: block;
    
    padding: 10px 0px;
    
    margin: 0;
    
    transition: color 0.4s;
}

.dropdown li a:hover {
    color: rgb(245, 164, 13);
}

.dropdown-list:hover .dropdown {
    visibility: visible;

    opacity: 1;
}

.dropdown li {
    display: block;
}

/* Hero Section */

.hero-section {
    position: absolute;
    top: 250px;
    z-index: 0;

    width: 100%;

    text-align: center;
}

.hero-section h1 {
    font-size: 84px;
    font-family: 'Sacramento';

    color: orange;

    margin-bottom: 22px;
}

.hero-section div {
    color: rgba(250, 250, 252, 0.85);

    width: 58%;

    margin: auto;

    text-align: center;

    font-size: 16px;
    font-family: 'Rubik';

    letter-spacing: 1.7px;

    margin-bottom: 22px;
}

.hero-section button {
    padding: 12px 20px;

    font-size: 18px;
    font-family: 'Rubik';
    font-weight: 400;

    border: none;
    border-radius: 9px;

    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.45);

    cursor: pointer;
}

.btn1 {
    margin-right: 14px;

    background-color: #ececf3;
    color: #011C40;

    transition: background-color 0.25s;
}

.btn1:hover {
    background-color: rgb(245, 164, 13);
}

.btn1:active {
    opacity: 0.87;
}

.btn2 {
    color: #ececf3;
    background-color: #011C40;

    border: 0;

    transition: background-color 0.25s, color 0.25s;
}

.btn2:hover {
    background-color: rgb(245, 164, 13);
    color: #011C40;
}

.btn2:active {
    opacity: 0.83;
}

/* Section 2 */

.S2 {
    width: 100%;
    height: 90.4vh;

    background-color: #ececf3;

    padding: 106px 0px 0px;
}

.S2 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    text-align: center;

    color: #011C40;

    margin-bottom: 10px;
}

.S2 .underline {
    width: 240px;
    height: 6px;

    border-radius: 10px;

    margin: auto;
    margin-bottom: 52px;

    background-color: rgb(245, 164, 13);
}

.features-container {
    /* overflow: auto; */

    width: 1140px;

    margin: auto;

    /* background-color: orange; */
}

.feature-card {
    float: left;

    position: relative;
    z-index: 0;

    width: 353px;

    padding: 28px 20px;

    text-align: center;

    border: 3px solid #011C40;
    border-radius: 12px;

    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

.feature-card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(77, 75, 133, 0.486);
    opacity: 0;
    z-index: -1;
}

.feature-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

.feature-card i {
    font-size: 40px;

    margin-bottom: 14px;
    
    background-image: linear-gradient(120deg, #011C40, rgb(245, 164, 13));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}

.feature-card h3 {
    font-size: 22px;
    font-family: 'DM Sans';

    margin-bottom: 8px;

    color: #011C40;
}

.feature-card p {
    font-family: 'Rubik';
    font-size: 14px;

    margin-bottom: 20px;
}

.feature-card a {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 500;

    color: rgb(245, 164, 13);

    transition: color 0.15s;
}

.feature-card a:hover {
    color: #011C40;
}

/* Section Three */

.S3 {
    width: 100%;
    height: 124vh;

    background-color: #d3d3e7;

    padding: 66px 0px 68px;
}

.S3 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    text-align: center;

    color: #011C40;

    margin-bottom: 10px;
}

.S3 .underline {
    width: 116px;
    height: 6px;

    border-radius: 10px;

    margin: auto;
    margin-bottom: 58px;

    background-color: rgb(245, 164, 13);
}

.categories-container {
    /* overflow: auto; */

    width: 1072px;
    /* background-color: #ececf3; */

    margin: auto;
}

.category-card {
    background-color: pink;

    float: left;
    width: 340px;
    height: 256px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.C1 {
    background-image: url(../images/category1.jpeg);
}

.C2 {
    background-image: url(../images/category2.jpeg);
}

.C3 {
    background-image: url(../images/category3.jpeg);
}

.C4 {
    background-image: url(../images/category4.jpeg);
}

.C5 {
    background-image: url(../images/category5.jpeg);
}

.C6 {
    background-image: url(../images/category6.jpeg);
}

.category-overlay {
    /* visibility: hidden; */
    width: 100%;
    height: 100%;

    text-align: center;

    padding: 82px 0px;

    background-color:rgba(0, 0, 0, 0.65);
    
    opacity: 0;

    transition: 0.25s;
}

.category-overlay:hover {
    /* visibility: 1; */
    opacity: 0.87;
}

.category-overlay h2 {
    font-size: 24px;
    font-family: 'DM Sans';

    color: #ececf3;

    margin-bottom: 6px;
}

.category-overlay p {
    font-size: 14px;
    font-family: 'Rubik';

    color: #ececf3;

    margin-bottom: 12px;
}

.category-overlay a {
    font-size: 26px;
    margin-right: 8px;

    color: gray;
}

.fa-heart {
    transition: color 0.18s;
}

.fa-heart:hover {
    color: red;
}

.fa-bookmark {
    transition: color 0.18s;
}

.fa-bookmark:hover {
    color: lightseagreen;
}

/* Section Four */

.S4 {
    width: 100%;
    height: 94vh;

    padding: 58px 0px;

    background-color: #ececf3;
}

.S4 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    text-align: center;

    color: #011C40;

    margin-bottom: 4px;
}

.S4 .underline {
    width: 142px;
    height: 6px;

    border-radius: 10px;

    margin: auto;
    margin-bottom: 58px;

    background-color: rgb(245, 164, 13);
}

.services-container {
    /* overflow: auto; */
    width: 1140px;

    margin: auto;

    /* background-color: pink; */
}

.service-card {
    float: left;

    width: 361.33px;

    padding: 28px 20px;

    border: 3px solid #011C40;
    border-radius: 12px;

    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    position: relative;
    z-index: 0;
}

.service-card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(77, 75, 133, 0.486);
    opacity: 0;
    z-index: -1;
}

.service-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

.service-card i {
    font-size: 22px;

    margin-right: 6px;
    
    background-image: linear-gradient(120deg, #011C40, rgb(245, 164, 13));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}

.service-card h2 {
    display: inline;

    font-size: 20px;
    font-family: 'DM Sans';

    color: #011C40;
}

.service-card p {
    font-size: 17px;
    font-family: 'Rubik';

    margin-top: 10px;

    color:rgba(0, 0, 0, 0.6);

    transition: 0.18s;
}


.service-card:hover p {
    color: rgb(27, 26, 26);
}

/* Section Five */

.S5 {
    width: 100%;
    height: 96vh;
    background-color: #d3d3e7;

    padding: 66px 82px 68px;
}

.S5 .A {
    width: 62%;
    margin-right: 120px;
    margin-top: 30px;

    float: left;

    /* background-color: pink; */
}

.S5 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    color: #011C40;

    margin-bottom: 4px;
}

.S5 .underline {
    width: 140px;
    height: 6px;

    border-radius: 10px;

    margin: 12px 0px 28px;

    background-color: rgb(245, 164, 13);
}

.S5 .A p {
    font-size: 19px;
    font-family: 'Rubik';

    color: #011C40;

    margin-bottom: 16px;
}

.S5 .points {
    list-style: none;
}

.points li {
    font-size: 18px;
    font-family: 'Rubik';

    margin-bottom: 10px;

    color: rgb(70, 69, 69);
}

.points li i {
    color: rgb(245, 164, 13);

    font-size: 21px;

    margin-right: 10px;

    /* width: 18px; */
    /* border: 2px solid #011C40; */
    border-radius: 2px;

    /* background-color: #011C40; */
}

.points li span {
    font-weight: 500;
    
    text-decoration: underline 2px rgb(245, 164, 13);

    color: #011C40;
}

.S5 .B {
    float: left;    
}

.B .image {
    width: 300px;
    height: 460px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/wcu1.jpeg);
}

.B .dot {
    float: left;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background-color: rgb(245, 164, 13);

    margin: 18px 16px 0px 0px;

    transition: 0.15s;
}

.B .dot:hover {
    background-color: #011C40;
}

/* Section Six */

.S6-image {
    width: 100%;
    height: 66vh;

    /* background-color: pink; */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/S6-banner1.jpeg);
}

.S6 {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.65);

    padding-top: 150px;
}

.achiv-container {
    overflow: auto;
    /* background-color: yellow; */

    width: 852px;

    margin: auto;
}

.achivement-card {
    float: left;

    /* background-color: pink; */

    width: 120px;

    text-align: center;

    font-family: 'DM Sans';

    color: #ececf3;
}

.achivement-card i {
    font-size: 40px;

    margin-bottom: 14px;

    color: rgb(245, 164, 13);

    transition: 0.18s;
}

.achivement-card i:hover {
    color: #fced18;
}

/* Section Seven */

.S7 {
    width: 100%;
    overflow: auto;

    padding-top: 66px;
    padding-bottom: 56px;

    background-color: #ececf3;
}

.S7 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    text-align: center;

    color: #011C40;

    margin-bottom: 10px;
}

.S7 .underline {
    width: 116px;
    height: 6px;

    border-radius: 10px;

    margin: auto;
    margin-bottom: 58px;

    background-color: rgb(245, 164, 13);
}

.offers-container {
    background-color: pink;

    width: 1140px;

    margin: auto;
}

.offer-card {
    float: left;

    width: 353px;

    padding: 28px 20px;

    text-align: center;

    border: 3px solid #011C40;
    border-radius: 12px;

    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    position: relative;
    z-index: 0;
}

.offer-card::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(95, 94, 145, 0.349);
    opacity: 0;
    z-index: -1;
}

.offer-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

.offer-card i {
    font-size: 40px;

    margin-bottom: 14px;
    
    background-image: linear-gradient(120deg, #011C40, rgb(245, 164, 13));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}

.offer-card h2 {
    font-family: 'DM Sans';
    font-size: 26px;

    color: #011C40;

    margin-bottom: 12px;
}

.cost {
    box-sizing: content-box;

    font-family: 'Sacramento';
    font-size: 20px;
    font-weight: 900;

    color: #011C40;

    width: 84px;
    height: 80px;

    border: 3px solid rgb(245, 164, 13);
    border-radius: 50%;

    padding: 30px 12px 0px;

    margin: auto;
    margin-bottom: 16px;
}

.offer-card p {
    font-size: 18px;
    font-family: 'Rubik';
    
    color: rgb(60, 60, 61);

    margin-bottom: 6px;
}

.offer-card button {
    margin-top: 18px;

    padding: 8px 12px;

    font-size: 20px;
    font-family: 'DM Sans';

    background-color: rgb(245, 164, 13);
    color: #011C40;

    border: 2px solid #011C40;
    border-radius: 12px;

    cursor: pointer;

    transition: 0.18s;
}

.offer-card button:hover {
    background-color: rgba(245, 164, 13, 0.57);
}

.offer-card button:active {
    background: rgba(245, 164, 13, 0.17);
}

/* Section Eight */

.S8-image {
    width: 100%;
    height: 66vh;

    /* background-color: pink; */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/S9-banner1.jpeg);
}

.S8 {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.65);

    padding-top: 138px;
}

.team-container {
    overflow: auto;
    /* background-color: yellow; */

    width: 872px;

    margin: auto;
}

.team-member {
    float: left;

    /* background-color: pink; */

    width: 376px;
    height: 300px;

    /* text-align: center; */

    font-family: 'DM Sans';

    color: #ececf3;
}

.team-member .profile-img {
    width: 86px;
    height: 86px;

    margin-bottom: 12px;
    margin-right: 20px;

    /* border: 3px solid rgb(245, 164, 13); */
    border-radius: 50%;

    /* background-color: red; */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    float: left;

    /* color: rgb(245, 164, 13); */

    transition: 0.18s;
}

.M1 {
    background-image: url(../images/S8-photo1);
}

.M2 {
    background-image: url(../images/S8-photo2);
}

.info-container {
    /* background-color: red; */

    overflow: auto;
}

.info h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

.info h5 {
    color: rgb(245, 164, 13);

    margin-bottom: 8px;
}

.team-member i:hover {
    color: #fced18;
}

.team-member p {
    margin-left: 6px;
}

/* Ninth Section */

.S9 {
    width : 100%;
    height: 150vh;

    background-color: #ececf3;

    padding-top: 56px;
}

.S9 h1 {
    font-family: 'Sacramento';
    font-size: 56px;

    text-align: center;

    color: #011C40;

    margin-bottom: 10px;
}

.S9 .underline {
    width: 170px;
    height: 6px;

    border-radius: 10px;

    margin: auto;
    margin-bottom: 58px;

    background-color: rgb(245, 164, 13);
}

.S9 .team {
    /* overflow: auto; */

    /* background-color: pink; */

    width: 1140px;
    /* height: 500px; */

    margin: auto;
}

.S9 .team .team-card {
    float: left;

    width: 353px;
    /* height: 510px; */

    /* background-color: blue; */
    background-color: rgba(12, 12, 138, 0.116);
    /* background-color: rgba(255, 166, 0, 0.788); */

    padding: 24px;

    border: 3px solid #011C40;
    border-radius: 12px;

    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

.S9 .team-card .member-image {
    /* background-image: url(../images/category1.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 426px;

    margin-bottom: 10px;
}

.F1 {
    background-image: url('../images/movie1.jpg');
}

.F2 {
    background-image: url('../images/movie2.jpg');
}

.F3 {
    background-image: url('../images/movie3.jpg');
}

.team-card h2 {
    font-size: 24px;
    font-family: 'DM Sans';

    color: #011C40;

    margin-top: 4px;
    margin-bottom: 6px;
}

.team-card h3 {
    font-size: 14px;
    font-family: 'DM Sans';

    color: rgb(197, 130, 7);

    margin-bottom: 4px;

    display: inline-block;

    margin-right: 14px;

    cursor: pointer;

    transition: 0.18s;
}

.team-card h3:hover {
    color: #011C40;
}

.team-card h3 i {
    margin-right: 3px;
}

.team-card p {
    font-size: 17px;
    font-family: 'Rubik';

    color: rgb(70, 69, 69);

    margin-bottom: 12px;
}

.team-card button {
    width: 100%;

    padding: 8px 0px;

    font-size: 18px;
    font-family: 'Rubik';

    background-color: rgb(245, 164, 13);
    color: #011C40;

    border: 2px solid #011C40;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.18s;
}

.team-card button:hover {
    background-color: rgba(245, 164, 13, 0.57);
}

.team-card button:active {
    background: rgba(245, 164, 13, 0.17);
}

/* Section Ten */

.S10 {
    width: 100%;
    /* height: 360px; */

    padding: 32px;

    background-color: #d3d3e7;

    text-align: center;
}

.footer-image {
    background-image: url('../images/footer.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 440px;
    height: 260px;

    margin: auto;
    margin-bottom: 14px;

    border-radius: 12px;
}

.icons {
    font-size: 32px;
    
    color: #011C40;

    margin-bottom: 8px;
}

.icons i {
    margin-right: 6px;

    cursor: pointer;

    transition: 0.18s;
}

.icons i:hover {
    color: rgb(245, 164, 13);
}

.S10 p {
    font-family: 'Rubik';
    font-size: 16px;
}
